/* O1. IPAD PORTRAIT ================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .grid figure h2 {
    font-size: 80%;
  }

  /* Footer */
  #footer {
    text-align: center;
  }

  #footer .text-right {
    text-align: center;
  }

  #logo-footer {
    display: none;
  }
}

/* O2. IPAD LANDSCAPE ================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid figure h2 {
    font-size: 80%;
  }

  .height-block {
    width: 80%;
  }

  .sticky-logo-wrapper #logo {
    padding-left: 20px;
  }

  section,
  .sticky-logo-wrapper #nav,
  #footer .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* O3. REGULAR MOBILE DEVICES ================================================== */

@media screen and (max-width: 768px) {
  .hide-mobscreens {
    display: none;
  }

  #supportukraine {
    font-size: 16px;
  }

  .container {
    padding: 0;
    position: relative;
    height: 100%;
    margin: 0;
  }

  .height-block {
    width: 80%;
  }

  .logo-nav-descscreens {
    display: none;
  }

  .logo-phone {
    display: block;
  }

  .hero-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    line-height: 40px;
    font-size: 40px;
    height: 300px;
    padding: 20px;
  }

  #header {
    /* background-size: cover !important; */
    background-image: none !important;

    min-height: 100;
    height: 100%;
    position: relative;
  }

  body.header-inner-wrapper {
    background: linear-gradient(162deg, #0057b8e8 0%, #0057b8 44%, #ffd700e6 100%) !important;
  }

  .column-content {
    width: 100%;
  }

  /* Footer */
  #footer {
    text-align: center;
  }

  #logo-footer {
    margin-top: -170px;
    border-color: transparent;
    background-color: #0051b9a8;
  }

  .hero-title h1 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 600px) {
  #hero-title h1 {
    font-size: 32px;
  }

  #go-down {
    bottom: 110px;
  }

  #logo-footer {
    margin-top: -70px;
  }

  .about-me-lines figure img {
    padding: 0 20px;
    margin-bottom: 40px;
  }

  .about-me-lines figure figcaption {
    font-size: 20px;
  }

  #portfolio .six.columns.portfolio-photo {
    grid-area: portfolio-top;
    margin-bottom: 20px;
  }

  #portfolio .six.columns.portfolio-caption {
    grid-area: portfolio-bottom;
    max-width: 80%;
    margin: 0 auto;
  }

  .work-item {
    display: grid;
    grid-template:
      'portfolio-top'
      'portfolio-bottom'
  }

  #portfolio .portfolio-row.row {
    margin: 0 0 50px;
  }

  .slides ul li:nth-child(4) {
    background-size: contain;
  }

  /* 
  #footer-sticky nav.row {
    padding: 0;
  } */

  .footer-navigation a {
    font-size: 9px;
  }
}

@media screen and (max-width: 771px) {
  #supportukraine a {
    opacity: 1;
  }

  #footer-sticky .footer-navigation {
    width: 100%;
    float: none;
  }

  #footer-sticky .footer-navigation li {
    padding: 0 4px !important;
  }

  #footer-sticky p {
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 947px) {
  #works-container #content-right {
    grid-area: work-details-top;
    height: 50vh;
    width: 100%;
  }

  #works-container #content-left {
    grid-area: work-details-bottom;
    margin-top: 50vh;
    height: 50vh;
    width: 100% !important;
  }

  #works-container #content-left #img {
    padding: 20px 0 80px;
  }

  #works-container {
    display: grid;
    grid-template:
      'work-details-top'
      'work-details-bottom'
  }
}
